*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F1E1; 
    color: #3E4E38;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .img-box img {
    width: 300px;
}

nav .nav-box {
    display: flex;
    align-items: center;
    padding: 0.8rem 2.5rem;
}

nav #nav-menu {
    display: flex;
    list-style-type: none;
}

nav #nav-menu li {
    margin: 0 20px;
}

nav #nav-menu a {
    text-decoration: none;
    color: #3E4E38;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav #nav-menu a:hover {
    color: #A1C9A5;
}

/* Navbar Line */
hr#nav-bar-line {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #A1C9A5;
}

/* Main Content */
main {
    padding: 2rem 3rem;
}

/* Welcome Section */

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

#welcome-text h3 {
    font-size: 2.5rem;
    color: #3E4E38;
    margin-bottom: 1rem;
}

#welcome-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 1rem;
}

#welcome-img {
    width: 80vw;
    max-width: 90vw;
    height: auto;
    border-radius: 10px;
    margin-top: 2rem;
}

.welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

